.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container-form {
  margin-top: 5%;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  font-size: large;
}
.notification-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.navbar-custom {
  background-color: #5f74e5;  
  height: 50px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
